<div class="banner mb-4 d-flex align-items-center justify-content-center py-5">
  <div class="text-center text-white">
    <h1>New List</h1>
    <h3 class="typed-js"></h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name %>
        <%= f.submit %>
      <% end %>
      <div class="py-3">
        <%= link_to "Go back", lists_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

