
<div class="banner">
  <h1>New List</h1>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3"
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name %>
        <%= f.submit %>
      <% end %>
      <div>
        <%= link_to "Go back", lists_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
